<div ng-init="getFiles()">
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://github.com/nervgh/angular-file-upload">Simple dropbox</a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <h3>Select file</h3>
                <label for="btn-upload" class="btn btn-primary btn-outline">Choose file</label>
                <input id="btn-upload" class="ng-hide" name="plant_picture" type="file" nv-file-select uploader="uploader" multiple/>
            </div>

            <div class="col-md-9" style="margin-bottom: 40px">

                <h3>Upload queue</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="uploader.isHTML5">Size</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in files.concat(uploader.queue)">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="upload(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <a href="" class="btn btn-default btn-xs" ng-click="getFile(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-download"></span> Download
                                </a>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="remove(item)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3 ng-show="uploader.queue.length === 0 && files.length === 0"><center>File queue is empty</center></h3>
            </div>
        </div>
    </div>
</div>